@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  font-family: 'Roboto Mono', Consolas, monospace;
  padding: 20px;
}
.reasonsList {
  list-style-type: none;
  display: inline-block;
  width: 30%;
}
.reasonsList li {
  margin-top: 1px;
}
.reasonsList--pros li {
  background: green;
}
.reasonsList--cons li {
  background: red;
}

