ul.pros li {
  background: rgba(14, 49, 19, 0.6);
}

ul.pros li.selected {
  background: rgba(14, 49, 19, 0.55);
}

ul.cons li {
  background: rgba(170, 16, 6, 0.8);
}

ul.cons li.selected {
  background: rgba(170, 16, 6, 0.75);
}

.rating input.neg + label:after {
  color: rgba(170, 16, 6, 0.8);
}

.rating input.pos + label:after {
  color: rgb(116, 152, 101);
}

p.error {
  color: rgba(0,0,0, 0.6);
}

html {
  background: #FFF7ED;
}

.reasons li {
  border-bottom: 1px solid #FFF7ED;
}

