ul.pros li {
  background: rgba(14, 49, 19, 0.55);
}

ul.cons li {
  background: rgba(170, 16, 6, 0.8);
}

.rating input.neg + label:after {
  color: rgba(170, 16, 6, 0.8);
}

.rating input.pos + label:after {
  color: rgb(116, 152, 101);
}

p.error {
  color: rgba(0,0,0, 0.6);
}

