.reasonsList {
  list-style-type: none;
  display: inline-block;
  width: 30%;
}
.reasonsList li {
  margin-top: 1px;
  line-height: 1.1;
  font-size: 12px;
}
.reasonsList--pros li {
  background: green;
}
.reasonsList--cons li {
  background: red;
}

