header {
  text-align: center;
  margin: 20px 0 40px 0;
  font-size: 1.5rem;
}

.fluidInput-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  padding-right: 22px;
  padding-bottom: 5px;
}

.fluidInput-spacer {
  visibility: hidden;
  white-space: pre;
}

.fluidInput-input {
  white-space: pre;
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
  width: 100%;
}

.fluidInput-wrapper:after {
  position: absolute;
  right: 0;
  padding: 0 0 6px 6px; 
  background: #FFF7ED;
  content: '?' 
}
