@import 'normalize.css';
@import 'fonts.css';
@import 'reasons.css';
@import 'rating.css';

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  border: 5px solid rgba(0,0,0,0.5);
  padding: 5px;
  background: #FFF7ED;
}

body {
  border: 2px solid rgba(0,0,0,0.5);
  color: rgba(0,0,0,0.8);
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
 -webkit-justify-content: space-between; 
  justify-content: space-between;
}

header {
  text-align: center;
  padding-bottom: 50px;
}


h1 {
  white-space: pre;
  font-size: 1.7rem;
  max-width: 100%;
  display: inline-block;
}

input {
  white-space: pre;
  background: transparent;
  max-width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid rgba(0,0,0,0.2);
}

::-webkit-input-placeholder {
   color: rgba(0,0,0,0.3);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(0,0,0,0.3);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0,0,0,0.3);
}

:-ms-input-placeholder {  
   color: rgba(0,0,0,0.3);
}



input:focus {
  outline: transparent;
  border-bottom-color: rgba(0,0,0,0.5);
}

h1 input {
  min-width: 6rem;
}

h1 div:after {
  content: '?';
}

form {
  padding-top: 50px;
  text-align: center;
}

