@import 'normalize.css';
@import 'fonts.css';
@import 'graph.css';
@import 'rating.css';

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  border: 5px solid grey;
  padding: 5px;
}

body {
  border: 2px solid grey;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
  padding: 10px;
  display: relative;
  padding-bottom: 100px;
}

header {
  text-align: center;
}

h1 {
  white-space: pre;
  font-size: 1.7rem;
  text-align: center;
  max-width: 100%;
  display: inline-block;
}

input {
  white-space: pre;
  max-width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #D6D6D6;
}

input:focus {
  outline: transparent;
  border-bottom-color: #6E6E6E;
}


h1 input {
  min-width: 6rem;
}


h1 div:after {
  content: '?';
}

.reasonsForm {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  left: 0;
}

