.rating {
  margin: 0 20px;
}

.rating label {
  display: inline-block;
  cursor: pointer;
  transform: translateY(4px);
}

.rating label:after, 
.rating label:before {
  text-align: center;
  font-size: 15px;
  padding: 1px 4px;
  line-height: 1;
}

.rating label:before {
  content: attr(rating);
  display: inline-block;
  opacity: 0.3;
}

.rating label:after {
  display: block;
  font-family: Comic Sans MS;
}

.rating input.pos + label:after {
  content: '\25B3';
}

.rating input.neg + label:after {
  content: '\25BD';
}

.rating label[rating='1'] {
  margin-left: 10px;
}

.rating input:checked + label:before,
.rating input + label:hover:before {
  opacity: 1;
}

.rating input.pos:checked + label:after,
.rating input.pos + label:hover:after {
  content: '\25B2';
}

.rating input.neg:checked + label:after,
.rating input.neg + label:hover:after {
  content: '\25BC';
}

.rating input + label:active:before {
  transform: translateY(-1px);
}
