.reasons {
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  height: 100%;
}

.reasons section {
  width: 100%;
  position: relative;
}


.reasons ul {
  list-style-type: none;
  width: 50%;
  margin: 0;
  padding: 7px 0;
  position: absolute;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column-reverse; /* Safari */
  flex-direction:         column-reverse;
  bottom: 0;
  height: 100%;
}

.reasons ul.cons {
  left: 0;
}

.reasons ul.pros {
  right: 0;
}

.reasons li {
  border-top: 1px solid white;
  overflow: visible;
}

.reasons li:after {
  content: attr(text);
  font-size: 14px;
  padding-left: 5px;
  font-weight: 200;
  color: white;
  opacity: 0.7;
  letter-spacing: 0.6px;
}

ul.pros li {
  background: rgba(14, 49, 19, 0.55);
}

ul.cons li {
  background: rgba(170, 16, 6, 0.8);
}

aside {
  font-size: 15px;
  text-align: right;
  padding-right: 20px;
  width: 60px;
  opacity: 0.8;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column; /* Safari */
  flex-direction:         column;
  -webkit-align-self: stretch;
  align-self: stretch;
  -webkit-justify-content: space-between; /* Safari */
  justify-content:         space-between;
}
