.reasons {
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  height: 100%;
}

.reasons section {
  width: 100%;
  position: relative;
}

.reasons ul {
  list-style-type: none;
  width: 50%;
  margin: 0;
  padding: 7px 0;
  position: absolute;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  bottom: 0;
  height: 100%;
}

.reasons ul.cons {
  left: 0;
}

.reasons ul.pros {
  right: 0;
}

.reasons li {
  border-top: 1px solid white;
  height: 0;
  opacity: 0;
  position: relative;
  overflow: hidden;
 -webkit-transition: height ease-out 0.3s, opacity ease-out 0.1s; 
  -moz-transition: height ease-out 0.3s, opacity ease-out 0.1s; 
  -o-transition: height ease-out 0.3s, opacity ease-out 0.1s; 
  transition: height ease-out 0.3s, opacity ease-out 0.1s; 
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.reasons .close,
.reasons .text {
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.close {
  display: none;
  position: absolute;
  right: 5px;
  top: 3px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none; 
}

.reasons li:hover .close {
  display: initial;
}

.reasons li .text {
  padding-left: 5px;
  font-weight: 200;
  opacity: 0.6;
  letter-spacing: 0.6px;
}

aside {
  font-size: 15px;
  text-align: right;
  padding-right: 20px;
  width: 60px;
  opacity: 0.8;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: stretch;
  align-self: stretch;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

